<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <script src = "/static/js/jquery.js"></script>
  <script src = "/static/js/bootstrap.js"></script>
</head>
<body>

{% block container %}
{% endblock %}

{% block js %}
{% endblock %}

</body>