{% extends "base.html" %}
{% load custom_filters %}

{% block container %}

<form>
  
  <input type="radio" tabindex="-1" name="x" id="x1" />
  <input type="radio" tabindex="-1" name="x" id="x2" checked="checked" />
  <input type="radio" tabindex="-1" name="angle" id="a1_1a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_2a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_3a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_4a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_5a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_6a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_7a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_8a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_9a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_10a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_11a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_12a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_13a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_14a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_15a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_16a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_17a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_18a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_19a" />
  <input type="radio" tabindex="-1" name="angle" id="a1_20a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_1a" checked="checked" />
  <input type="radio" tabindex="-1" name="angle" id="a2_2a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_3a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_4a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_5a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_6a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_7a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_8a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_9a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_10a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_11a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_12a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_13a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_14a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_15a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_16a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_17a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_18a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_19a" />
  <input type="radio" tabindex="-1" name="angle" id="a2_20a" />
  <input type="radio" tabindex="-1" name="radius" id="r1_0r" />
  <input type="radio" tabindex="-1" name="radius" id="r1_1r" />
  <input type="radio" tabindex="-1" name="radius" id="r1_2r" />
  <input type="radio" tabindex="-1" name="radius" id="r1_3r" />
  <input type="radio" tabindex="-1" name="radius" id="r1_4r" />
  <input type="radio" tabindex="-1" name="radius" id="r1_5r" />
  <input type="radio" tabindex="-1" name="radius" id="r2_0r" checked="checked" />
  <input type="radio" tabindex="-1" name="radius" id="r2_1r" />
  <input type="radio" tabindex="-1" name="radius" id="r2_2r" />
  <input type="radio" tabindex="-1" name="radius" id="r2_3r" />
  <input type="radio" tabindex="-1" name="radius" id="r2_4r" />
  <input type="radio" tabindex="-1" name="radius" id="r2_5r" />
  <input type="radio" tabindex="-1" name="throw" id="t1_bust" />
  <input type="radio" tabindex="-1" name="throw" id="t1_0" />
  <input type="radio" tabindex="-1" name="throw" id="t1_1" />
  <input type="radio" tabindex="-1" name="throw" id="t1_2" />
  <input type="radio" tabindex="-1" name="throw" id="t1_3" />
  <input type="radio" tabindex="-1" name="throw" id="t1_4" />
  <input type="radio" tabindex="-1" name="throw" id="t1_5" />
  <input type="radio" tabindex="-1" name="throw" id="t1_6" />
  <input type="radio" tabindex="-1" name="throw" id="t1_7" />
  <input type="radio" tabindex="-1" name="throw" id="t1_8" />
  <input type="radio" tabindex="-1" name="throw" id="t1_9" />
  <input type="radio" tabindex="-1" name="throw" id="t1_10" />
  <input type="radio" tabindex="-1" name="throw" id="t1_11" />
  <input type="radio" tabindex="-1" name="throw" id="t1_12" />
  <input type="radio" tabindex="-1" name="throw" id="t1_13" />
  <input type="radio" tabindex="-1" name="throw" id="t1_14" />
  <input type="radio" tabindex="-1" name="throw" id="t1_15" />
  <input type="radio" tabindex="-1" name="throw" id="t1_16" />
  <input type="radio" tabindex="-1" name="throw" id="t1_17" />
  <input type="radio" tabindex="-1" name="throw" id="t1_18" />
  <input type="radio" tabindex="-1" name="throw" id="t1_19" />
  <input type="radio" tabindex="-1" name="throw" id="t1_20" />
  <input type="radio" tabindex="-1" name="throw" id="t1_21" />
  <input type="radio" tabindex="-1" name="throw" id="t1_22" />
  <input type="radio" tabindex="-1" name="throw" id="t1_24" />
  <input type="radio" tabindex="-1" name="throw" id="t1_25" />
  <input type="radio" tabindex="-1" name="throw" id="t1_26" />
  <input type="radio" tabindex="-1" name="throw" id="t1_27" />
  <input type="radio" tabindex="-1" name="throw" id="t1_28" />
  <input type="radio" tabindex="-1" name="throw" id="t1_30" />
  <input type="radio" tabindex="-1" name="throw" id="t1_32" />
  <input type="radio" tabindex="-1" name="throw" id="t1_33" />
  <input type="radio" tabindex="-1" name="throw" id="t1_34" />
  <input type="radio" tabindex="-1" name="throw" id="t1_36" />
  <input type="radio" tabindex="-1" name="throw" id="t1_38" />
  <input type="radio" tabindex="-1" name="throw" id="t1_39" />
  <input type="radio" tabindex="-1" name="throw" id="t1_40" />
  <input type="radio" tabindex="-1" name="throw" id="t1_42" />
  <input type="radio" tabindex="-1" name="throw" id="t1_45" />
  <input type="radio" tabindex="-1" name="throw" id="t1_48" />
  <input type="radio" tabindex="-1" name="throw" id="t1_50" />
  <input type="radio" tabindex="-1" name="throw" id="t1_51" />
  <input type="radio" tabindex="-1" name="throw" id="t1_54" />
  <input type="radio" tabindex="-1" name="throw" id="t1_57" />
  <input type="radio" tabindex="-1" name="throw" id="t1_60" />
  <input type="radio" tabindex="-1" name="throw" id="t2_bust" />
  <input type="radio" tabindex="-1" name="throw" id="t2_0" checked="checked" />
  <input type="radio" tabindex="-1" name="throw" id="t2_1" />
  <input type="radio" tabindex="-1" name="throw" id="t2_2" />
  <input type="radio" tabindex="-1" name="throw" id="t2_3" />
  <input type="radio" tabindex="-1" name="throw" id="t2_4" />
  <input type="radio" tabindex="-1" name="throw" id="t2_5" />
  <input type="radio" tabindex="-1" name="throw" id="t2_6" />
  <input type="radio" tabindex="-1" name="throw" id="t2_7" />
  <input type="radio" tabindex="-1" name="throw" id="t2_8" />
  <input type="radio" tabindex="-1" name="throw" id="t2_9" />
  <input type="radio" tabindex="-1" name="throw" id="t2_10" />
  <input type="radio" tabindex="-1" name="throw" id="t2_11" />
  <input type="radio" tabindex="-1" name="throw" id="t2_12" />
  <input type="radio" tabindex="-1" name="throw" id="t2_13" />
  <input type="radio" tabindex="-1" name="throw" id="t2_14" />
  <input type="radio" tabindex="-1" name="throw" id="t2_15" />
  <input type="radio" tabindex="-1" name="throw" id="t2_16" />
  <input type="radio" tabindex="-1" name="throw" id="t2_17" />
  <input type="radio" tabindex="-1" name="throw" id="t2_18" />
  <input type="radio" tabindex="-1" name="throw" id="t2_19" />
  <input type="radio" tabindex="-1" name="throw" id="t2_20" />
  <input type="radio" tabindex="-1" name="throw" id="t2_21" />
  <input type="radio" tabindex="-1" name="throw" id="t2_22" />
  <input type="radio" tabindex="-1" name="throw" id="t2_24" />
  <input type="radio" tabindex="-1" name="throw" id="t2_25" />
  <input type="radio" tabindex="-1" name="throw" id="t2_26" />
  <input type="radio" tabindex="-1" name="throw" id="t2_27" />
  <input type="radio" tabindex="-1" name="throw" id="t2_28" />
  <input type="radio" tabindex="-1" name="throw" id="t2_30" />
  <input type="radio" tabindex="-1" name="throw" id="t2_32" />
  <input type="radio" tabindex="-1" name="throw" id="t2_33" />
  <input type="radio" tabindex="-1" name="throw" id="t2_34" />
  <input type="radio" tabindex="-1" name="throw" id="t2_36" />
  <input type="radio" tabindex="-1" name="throw" id="t2_38" />
  <input type="radio" tabindex="-1" name="throw" id="t2_39" />
  <input type="radio" tabindex="-1" name="throw" id="t2_40" />
  <input type="radio" tabindex="-1" name="throw" id="t2_42" />
  <input type="radio" tabindex="-1" name="throw" id="t2_45" />
  <input type="radio" tabindex="-1" name="throw" id="t2_48" />
  <input type="radio" tabindex="-1" name="throw" id="t2_50" />
  <input type="radio" tabindex="-1" name="throw" id="t2_51" />
  <input type="radio" tabindex="-1" name="throw" id="t2_54" />
  <input type="radio" tabindex="-1" name="throw" id="t2_57" />
  <input type="radio" tabindex="-1" name="throw" id="t2_60" />
  <input type="radio" tabindex="-1" name="score" id="s1_501s" />
  <input type="radio" tabindex="-1" name="score" id="s1_500s" />
  <input type="radio" tabindex="-1" name="score" id="s1_499s" />
  <input type="radio" tabindex="-1" name="score" id="s1_498s" />
  <input type="radio" tabindex="-1" name="score" id="s1_497s" />
  <input type="radio" tabindex="-1" name="score" id="s1_496s" />
  <input type="radio" tabindex="-1" name="score" id="s1_495s" />
  <input type="radio" tabindex="-1" name="score" id="s1_494s" />
  <input type="radio" tabindex="-1" name="score" id="s1_493s" />
  <input type="radio" tabindex="-1" name="score" id="s1_492s" />
  <input type="radio" tabindex="-1" name="score" id="s1_491s" />
  <input type="radio" tabindex="-1" name="score" id="s1_490s" />
  <input type="radio" tabindex="-1" name="score" id="s1_489s" />
  <input type="radio" tabindex="-1" name="score" id="s1_488s" />
  <input type="radio" tabindex="-1" name="score" id="s1_487s" />
  <input type="radio" tabindex="-1" name="score" id="s1_486s" />
  <input type="radio" tabindex="-1" name="score" id="s1_485s" />
  <input type="radio" tabindex="-1" name="score" id="s1_484s" />
  <input type="radio" tabindex="-1" name="score" id="s1_483s" />
  <input type="radio" tabindex="-1" name="score" id="s1_482s" />
  <input type="radio" tabindex="-1" name="score" id="s1_481s" />
  <input type="radio" tabindex="-1" name="score" id="s1_480s" />
  <input type="radio" tabindex="-1" name="score" id="s1_479s" />
  <input type="radio" tabindex="-1" name="score" id="s1_478s" />
  <input type="radio" tabindex="-1" name="score" id="s1_477s" />
  <input type="radio" tabindex="-1" name="score" id="s1_476s" />
  <input type="radio" tabindex="-1" name="score" id="s1_475s" />
  <input type="radio" tabindex="-1" name="score" id="s1_474s" />
  <input type="radio" tabindex="-1" name="score" id="s1_473s" />
  <input type="radio" tabindex="-1" name="score" id="s1_472s" />
  <input type="radio" tabindex="-1" name="score" id="s1_471s" />
  <input type="radio" tabindex="-1" name="score" id="s1_470s" />
  <input type="radio" tabindex="-1" name="score" id="s1_469s" />
  <input type="radio" tabindex="-1" name="score" id="s1_468s" />
  <input type="radio" tabindex="-1" name="score" id="s1_467s" />
  <input type="radio" tabindex="-1" name="score" id="s1_466s" />
  <input type="radio" tabindex="-1" name="score" id="s1_465s" />
  <input type="radio" tabindex="-1" name="score" id="s1_464s" />
  <input type="radio" tabindex="-1" name="score" id="s1_463s" />
  <input type="radio" tabindex="-1" name="score" id="s1_462s" />
  <input type="radio" tabindex="-1" name="score" id="s1_461s" />
  <input type="radio" tabindex="-1" name="score" id="s1_460s" />
  <input type="radio" tabindex="-1" name="score" id="s1_459s" />
  <input type="radio" tabindex="-1" name="score" id="s1_458s" />
  <input type="radio" tabindex="-1" name="score" id="s1_457s" />
  <input type="radio" tabindex="-1" name="score" id="s1_456s" />
  <input type="radio" tabindex="-1" name="score" id="s1_455s" />
  <input type="radio" tabindex="-1" name="score" id="s1_454s" />
  <input type="radio" tabindex="-1" name="score" id="s1_453s" />
  <input type="radio" tabindex="-1" name="score" id="s1_452s" />
  <input type="radio" tabindex="-1" name="score" id="s1_451s" />
  <input type="radio" tabindex="-1" name="score" id="s1_450s" />
  <input type="radio" tabindex="-1" name="score" id="s1_449s" />
  <input type="radio" tabindex="-1" name="score" id="s1_448s" />
  <input type="radio" tabindex="-1" name="score" id="s1_447s" />
  <input type="radio" tabindex="-1" name="score" id="s1_446s" />
  <input type="radio" tabindex="-1" name="score" id="s1_445s" />
  <input type="radio" tabindex="-1" name="score" id="s1_444s" />
  <input type="radio" tabindex="-1" name="score" id="s1_443s" />
  <input type="radio" tabindex="-1" name="score" id="s1_442s" />
  <input type="radio" tabindex="-1" name="score" id="s1_441s" />
  <input type="radio" tabindex="-1" name="score" id="s1_440s" />
  <input type="radio" tabindex="-1" name="score" id="s1_439s" />
  <input type="radio" tabindex="-1" name="score" id="s1_438s" />
  <input type="radio" tabindex="-1" name="score" id="s1_437s" />
  <input type="radio" tabindex="-1" name="score" id="s1_436s" />
  <input type="radio" tabindex="-1" name="score" id="s1_435s" />
  <input type="radio" tabindex="-1" name="score" id="s1_434s" />
  <input type="radio" tabindex="-1" name="score" id="s1_433s" />
  <input type="radio" tabindex="-1" name="score" id="s1_432s" />
  <input type="radio" tabindex="-1" name="score" id="s1_431s" />
  <input type="radio" tabindex="-1" name="score" id="s1_430s" />
  <input type="radio" tabindex="-1" name="score" id="s1_429s" />
  <input type="radio" tabindex="-1" name="score" id="s1_428s" />
  <input type="radio" tabindex="-1" name="score" id="s1_427s" />
  <input type="radio" tabindex="-1" name="score" id="s1_426s" />
  <input type="radio" tabindex="-1" name="score" id="s1_425s" />
  <input type="radio" tabindex="-1" name="score" id="s1_424s" />
  <input type="radio" tabindex="-1" name="score" id="s1_423s" />
  <input type="radio" tabindex="-1" name="score" id="s1_422s" />
  <input type="radio" tabindex="-1" name="score" id="s1_421s" />
  <input type="radio" tabindex="-1" name="score" id="s1_420s" />
  <input type="radio" tabindex="-1" name="score" id="s1_419s" />
  <input type="radio" tabindex="-1" name="score" id="s1_418s" />
  <input type="radio" tabindex="-1" name="score" id="s1_417s" />
  <input type="radio" tabindex="-1" name="score" id="s1_416s" />
  <input type="radio" tabindex="-1" name="score" id="s1_415s" />
  <input type="radio" tabindex="-1" name="score" id="s1_414s" />
  <input type="radio" tabindex="-1" name="score" id="s1_413s" />
  <input type="radio" tabindex="-1" name="score" id="s1_412s" />
  <input type="radio" tabindex="-1" name="score" id="s1_411s" />
  <input type="radio" tabindex="-1" name="score" id="s1_410s" />
  <input type="radio" tabindex="-1" name="score" id="s1_409s" />
  <input type="radio" tabindex="-1" name="score" id="s1_408s" />
  <input type="radio" tabindex="-1" name="score" id="s1_407s" />
  <input type="radio" tabindex="-1" name="score" id="s1_406s" />
  <input type="radio" tabindex="-1" name="score" id="s1_405s" />
  <input type="radio" tabindex="-1" name="score" id="s1_404s" />
  <input type="radio" tabindex="-1" name="score" id="s1_403s" />
  <input type="radio" tabindex="-1" name="score" id="s1_402s" />
  <input type="radio" tabindex="-1" name="score" id="s1_401s" />
  <input type="radio" tabindex="-1" name="score" id="s1_400s" />
  <input type="radio" tabindex="-1" name="score" id="s1_399s" />
  <input type="radio" tabindex="-1" name="score" id="s1_398s" />
  <input type="radio" tabindex="-1" name="score" id="s1_397s" />
  <input type="radio" tabindex="-1" name="score" id="s1_396s" />
  <input type="radio" tabindex="-1" name="score" id="s1_395s" />
  <input type="radio" tabindex="-1" name="score" id="s1_394s" />
  <input type="radio" tabindex="-1" name="score" id="s1_393s" />
  <input type="radio" tabindex="-1" name="score" id="s1_392s" />
  <input type="radio" tabindex="-1" name="score" id="s1_391s" />
  <input type="radio" tabindex="-1" name="score" id="s1_390s" />
  <input type="radio" tabindex="-1" name="score" id="s1_389s" />
  <input type="radio" tabindex="-1" name="score" id="s1_388s" />
  <input type="radio" tabindex="-1" name="score" id="s1_387s" />
  <input type="radio" tabindex="-1" name="score" id="s1_386s" />
  <input type="radio" tabindex="-1" name="score" id="s1_385s" />
  <input type="radio" tabindex="-1" name="score" id="s1_384s" />
  <input type="radio" tabindex="-1" name="score" id="s1_383s" />
  <input type="radio" tabindex="-1" name="score" id="s1_382s" />
  <input type="radio" tabindex="-1" name="score" id="s1_381s" />
  <input type="radio" tabindex="-1" name="score" id="s1_380s" />
  <input type="radio" tabindex="-1" name="score" id="s1_379s" />
  <input type="radio" tabindex="-1" name="score" id="s1_378s" />
  <input type="radio" tabindex="-1" name="score" id="s1_377s" />
  <input type="radio" tabindex="-1" name="score" id="s1_376s" />
  <input type="radio" tabindex="-1" name="score" id="s1_375s" />
  <input type="radio" tabindex="-1" name="score" id="s1_374s" />
  <input type="radio" tabindex="-1" name="score" id="s1_373s" />
  <input type="radio" tabindex="-1" name="score" id="s1_372s" />
  <input type="radio" tabindex="-1" name="score" id="s1_371s" />
  <input type="radio" tabindex="-1" name="score" id="s1_370s" />
  <input type="radio" tabindex="-1" name="score" id="s1_369s" />
  <input type="radio" tabindex="-1" name="score" id="s1_368s" />
  <input type="radio" tabindex="-1" name="score" id="s1_367s" />
  <input type="radio" tabindex="-1" name="score" id="s1_366s" />
  <input type="radio" tabindex="-1" name="score" id="s1_365s" />
  <input type="radio" tabindex="-1" name="score" id="s1_364s" />
  <input type="radio" tabindex="-1" name="score" id="s1_363s" />
  <input type="radio" tabindex="-1" name="score" id="s1_362s" />
  <input type="radio" tabindex="-1" name="score" id="s1_361s" />
  <input type="radio" tabindex="-1" name="score" id="s1_360s" />
  <input type="radio" tabindex="-1" name="score" id="s1_359s" />
  <input type="radio" tabindex="-1" name="score" id="s1_358s" />
  <input type="radio" tabindex="-1" name="score" id="s1_357s" />
  <input type="radio" tabindex="-1" name="score" id="s1_356s" />
  <input type="radio" tabindex="-1" name="score" id="s1_355s" />
  <input type="radio" tabindex="-1" name="score" id="s1_354s" />
  <input type="radio" tabindex="-1" name="score" id="s1_353s" />
  <input type="radio" tabindex="-1" name="score" id="s1_352s" />
  <input type="radio" tabindex="-1" name="score" id="s1_351s" />
  <input type="radio" tabindex="-1" name="score" id="s1_350s" />
  <input type="radio" tabindex="-1" name="score" id="s1_349s" />
  <input type="radio" tabindex="-1" name="score" id="s1_348s" />
  <input type="radio" tabindex="-1" name="score" id="s1_347s" />
  <input type="radio" tabindex="-1" name="score" id="s1_346s" />
  <input type="radio" tabindex="-1" name="score" id="s1_345s" />
  <input type="radio" tabindex="-1" name="score" id="s1_344s" />
  <input type="radio" tabindex="-1" name="score" id="s1_343s" />
  <input type="radio" tabindex="-1" name="score" id="s1_342s" />
  <input type="radio" tabindex="-1" name="score" id="s1_341s" />
  <input type="radio" tabindex="-1" name="score" id="s1_340s" />
  <input type="radio" tabindex="-1" name="score" id="s1_339s" />
  <input type="radio" tabindex="-1" name="score" id="s1_338s" />
  <input type="radio" tabindex="-1" name="score" id="s1_337s" />
  <input type="radio" tabindex="-1" name="score" id="s1_336s" />
  <input type="radio" tabindex="-1" name="score" id="s1_335s" />
  <input type="radio" tabindex="-1" name="score" id="s1_334s" />
  <input type="radio" tabindex="-1" name="score" id="s1_333s" />
  <input type="radio" tabindex="-1" name="score" id="s1_332s" />
  <input type="radio" tabindex="-1" name="score" id="s1_331s" />
  <input type="radio" tabindex="-1" name="score" id="s1_330s" />
  <input type="radio" tabindex="-1" name="score" id="s1_329s" />
  <input type="radio" tabindex="-1" name="score" id="s1_328s" />
  <input type="radio" tabindex="-1" name="score" id="s1_327s" />
  <input type="radio" tabindex="-1" name="score" id="s1_326s" />
  <input type="radio" tabindex="-1" name="score" id="s1_325s" />
  <input type="radio" tabindex="-1" name="score" id="s1_324s" />
  <input type="radio" tabindex="-1" name="score" id="s1_323s" />
  <input type="radio" tabindex="-1" name="score" id="s1_322s" />
  <input type="radio" tabindex="-1" name="score" id="s1_321s" />
  <input type="radio" tabindex="-1" name="score" id="s1_320s" />
  <input type="radio" tabindex="-1" name="score" id="s1_319s" />
  <input type="radio" tabindex="-1" name="score" id="s1_318s" />
  <input type="radio" tabindex="-1" name="score" id="s1_317s" />
  <input type="radio" tabindex="-1" name="score" id="s1_316s" />
  <input type="radio" tabindex="-1" name="score" id="s1_315s" />
  <input type="radio" tabindex="-1" name="score" id="s1_314s" />
  <input type="radio" tabindex="-1" name="score" id="s1_313s" />
  <input type="radio" tabindex="-1" name="score" id="s1_312s" />
  <input type="radio" tabindex="-1" name="score" id="s1_311s" />
  <input type="radio" tabindex="-1" name="score" id="s1_310s" />
  <input type="radio" tabindex="-1" name="score" id="s1_309s" />
  <input type="radio" tabindex="-1" name="score" id="s1_308s" />
  <input type="radio" tabindex="-1" name="score" id="s1_307s" />
  <input type="radio" tabindex="-1" name="score" id="s1_306s" />
  <input type="radio" tabindex="-1" name="score" id="s1_305s" />
  <input type="radio" tabindex="-1" name="score" id="s1_304s" />
  <input type="radio" tabindex="-1" name="score" id="s1_303s" />
  <input type="radio" tabindex="-1" name="score" id="s1_302s" />
  <input type="radio" tabindex="-1" name="score" id="s1_301s" />
  <input type="radio" tabindex="-1" name="score" id="s1_300s" />
  <input type="radio" tabindex="-1" name="score" id="s1_299s" />
  <input type="radio" tabindex="-1" name="score" id="s1_298s" />
  <input type="radio" tabindex="-1" name="score" id="s1_297s" />
  <input type="radio" tabindex="-1" name="score" id="s1_296s" />
  <input type="radio" tabindex="-1" name="score" id="s1_295s" />
  <input type="radio" tabindex="-1" name="score" id="s1_294s" />
  <input type="radio" tabindex="-1" name="score" id="s1_293s" />
  <input type="radio" tabindex="-1" name="score" id="s1_292s" />
  <input type="radio" tabindex="-1" name="score" id="s1_291s" />
  <input type="radio" tabindex="-1" name="score" id="s1_290s" />
  <input type="radio" tabindex="-1" name="score" id="s1_289s" />
  <input type="radio" tabindex="-1" name="score" id="s1_288s" />
  <input type="radio" tabindex="-1" name="score" id="s1_287s" />
  <input type="radio" tabindex="-1" name="score" id="s1_286s" />
  <input type="radio" tabindex="-1" name="score" id="s1_285s" />
  <input type="radio" tabindex="-1" name="score" id="s1_284s" />
  <input type="radio" tabindex="-1" name="score" id="s1_283s" />
  <input type="radio" tabindex="-1" name="score" id="s1_282s" />
  <input type="radio" tabindex="-1" name="score" id="s1_281s" />
  <input type="radio" tabindex="-1" name="score" id="s1_280s" />
  <input type="radio" tabindex="-1" name="score" id="s1_279s" />
  <input type="radio" tabindex="-1" name="score" id="s1_278s" />
  <input type="radio" tabindex="-1" name="score" id="s1_277s" />
  <input type="radio" tabindex="-1" name="score" id="s1_276s" />
  <input type="radio" tabindex="-1" name="score" id="s1_275s" />
  <input type="radio" tabindex="-1" name="score" id="s1_274s" />
  <input type="radio" tabindex="-1" name="score" id="s1_273s" />
  <input type="radio" tabindex="-1" name="score" id="s1_272s" />
  <input type="radio" tabindex="-1" name="score" id="s1_271s" />
  <input type="radio" tabindex="-1" name="score" id="s1_270s" />
  <input type="radio" tabindex="-1" name="score" id="s1_269s" />
  <input type="radio" tabindex="-1" name="score" id="s1_268s" />
  <input type="radio" tabindex="-1" name="score" id="s1_267s" />
  <input type="radio" tabindex="-1" name="score" id="s1_266s" />
  <input type="radio" tabindex="-1" name="score" id="s1_265s" />
  <input type="radio" tabindex="-1" name="score" id="s1_264s" />
  <input type="radio" tabindex="-1" name="score" id="s1_263s" />
  <input type="radio" tabindex="-1" name="score" id="s1_262s" />
  <input type="radio" tabindex="-1" name="score" id="s1_261s" />
  <input type="radio" tabindex="-1" name="score" id="s1_260s" />
  <input type="radio" tabindex="-1" name="score" id="s1_259s" />
  <input type="radio" tabindex="-1" name="score" id="s1_258s" />
  <input type="radio" tabindex="-1" name="score" id="s1_257s" />
  <input type="radio" tabindex="-1" name="score" id="s1_256s" />
  <input type="radio" tabindex="-1" name="score" id="s1_255s" />
  <input type="radio" tabindex="-1" name="score" id="s1_254s" />
  <input type="radio" tabindex="-1" name="score" id="s1_253s" />
  <input type="radio" tabindex="-1" name="score" id="s1_252s" />
  <input type="radio" tabindex="-1" name="score" id="s1_251s" />
  <input type="radio" tabindex="-1" name="score" id="s1_250s" />
  <input type="radio" tabindex="-1" name="score" id="s1_249s" />
  <input type="radio" tabindex="-1" name="score" id="s1_248s" />
  <input type="radio" tabindex="-1" name="score" id="s1_247s" />
  <input type="radio" tabindex="-1" name="score" id="s1_246s" />
  <input type="radio" tabindex="-1" name="score" id="s1_245s" />
  <input type="radio" tabindex="-1" name="score" id="s1_244s" />
  <input type="radio" tabindex="-1" name="score" id="s1_243s" />
  <input type="radio" tabindex="-1" name="score" id="s1_242s" />
  <input type="radio" tabindex="-1" name="score" id="s1_241s" />
  <input type="radio" tabindex="-1" name="score" id="s1_240s" />
  <input type="radio" tabindex="-1" name="score" id="s1_239s" />
  <input type="radio" tabindex="-1" name="score" id="s1_238s" />
  <input type="radio" tabindex="-1" name="score" id="s1_237s" />
  <input type="radio" tabindex="-1" name="score" id="s1_236s" />
  <input type="radio" tabindex="-1" name="score" id="s1_235s" />
  <input type="radio" tabindex="-1" name="score" id="s1_234s" />
  <input type="radio" tabindex="-1" name="score" id="s1_233s" />
  <input type="radio" tabindex="-1" name="score" id="s1_232s" />
  <input type="radio" tabindex="-1" name="score" id="s1_231s" />
  <input type="radio" tabindex="-1" name="score" id="s1_230s" />
  <input type="radio" tabindex="-1" name="score" id="s1_229s" />
  <input type="radio" tabindex="-1" name="score" id="s1_228s" />
  <input type="radio" tabindex="-1" name="score" id="s1_227s" />
  <input type="radio" tabindex="-1" name="score" id="s1_226s" />
  <input type="radio" tabindex="-1" name="score" id="s1_225s" />
  <input type="radio" tabindex="-1" name="score" id="s1_224s" />
  <input type="radio" tabindex="-1" name="score" id="s1_223s" />
  <input type="radio" tabindex="-1" name="score" id="s1_222s" />
  <input type="radio" tabindex="-1" name="score" id="s1_221s" />
  <input type="radio" tabindex="-1" name="score" id="s1_220s" />
  <input type="radio" tabindex="-1" name="score" id="s1_219s" />
  <input type="radio" tabindex="-1" name="score" id="s1_218s" />
  <input type="radio" tabindex="-1" name="score" id="s1_217s" />
  <input type="radio" tabindex="-1" name="score" id="s1_216s" />
  <input type="radio" tabindex="-1" name="score" id="s1_215s" />
  <input type="radio" tabindex="-1" name="score" id="s1_214s" />
  <input type="radio" tabindex="-1" name="score" id="s1_213s" />
  <input type="radio" tabindex="-1" name="score" id="s1_212s" />
  <input type="radio" tabindex="-1" name="score" id="s1_211s" />
  <input type="radio" tabindex="-1" name="score" id="s1_210s" />
  <input type="radio" tabindex="-1" name="score" id="s1_209s" />
  <input type="radio" tabindex="-1" name="score" id="s1_208s" />
  <input type="radio" tabindex="-1" name="score" id="s1_207s" />
  <input type="radio" tabindex="-1" name="score" id="s1_206s" />
  <input type="radio" tabindex="-1" name="score" id="s1_205s" />
  <input type="radio" tabindex="-1" name="score" id="s1_204s" />
  <input type="radio" tabindex="-1" name="score" id="s1_203s" />
  <input type="radio" tabindex="-1" name="score" id="s1_202s" />
  <input type="radio" tabindex="-1" name="score" id="s1_201s" />
  <input type="radio" tabindex="-1" name="score" id="s1_200s" />
  <input type="radio" tabindex="-1" name="score" id="s1_199s" />
  <input type="radio" tabindex="-1" name="score" id="s1_198s" />
  <input type="radio" tabindex="-1" name="score" id="s1_197s" />
  <input type="radio" tabindex="-1" name="score" id="s1_196s" />
  <input type="radio" tabindex="-1" name="score" id="s1_195s" />
  <input type="radio" tabindex="-1" name="score" id="s1_194s" />
  <input type="radio" tabindex="-1" name="score" id="s1_193s" />
  <input type="radio" tabindex="-1" name="score" id="s1_192s" />
  <input type="radio" tabindex="-1" name="score" id="s1_191s" />
  <input type="radio" tabindex="-1" name="score" id="s1_190s" />
  <input type="radio" tabindex="-1" name="score" id="s1_189s" />
  <input type="radio" tabindex="-1" name="score" id="s1_188s" />
  <input type="radio" tabindex="-1" name="score" id="s1_187s" />
  <input type="radio" tabindex="-1" name="score" id="s1_186s" />
  <input type="radio" tabindex="-1" name="score" id="s1_185s" />
  <input type="radio" tabindex="-1" name="score" id="s1_184s" />
  <input type="radio" tabindex="-1" name="score" id="s1_183s" />
  <input type="radio" tabindex="-1" name="score" id="s1_182s" />
  <input type="radio" tabindex="-1" name="score" id="s1_181s" />
  <input type="radio" tabindex="-1" name="score" id="s1_180s" />
  <input type="radio" tabindex="-1" name="score" id="s1_179s" />
  <input type="radio" tabindex="-1" name="score" id="s1_178s" />
  <input type="radio" tabindex="-1" name="score" id="s1_177s" />
  <input type="radio" tabindex="-1" name="score" id="s1_176s" />
  <input type="radio" tabindex="-1" name="score" id="s1_175s" />
  <input type="radio" tabindex="-1" name="score" id="s1_174s" />
  <input type="radio" tabindex="-1" name="score" id="s1_173s" />
  <input type="radio" tabindex="-1" name="score" id="s1_172s" />
  <input type="radio" tabindex="-1" name="score" id="s1_171s" />
  <input type="radio" tabindex="-1" name="score" id="s1_170s" />
  <input type="radio" tabindex="-1" name="score" id="s1_169s" />
  <input type="radio" tabindex="-1" name="score" id="s1_168s" />
  <input type="radio" tabindex="-1" name="score" id="s1_167s" />
  <input type="radio" tabindex="-1" name="score" id="s1_166s" />
  <input type="radio" tabindex="-1" name="score" id="s1_165s" />
  <input type="radio" tabindex="-1" name="score" id="s1_164s" />
  <input type="radio" tabindex="-1" name="score" id="s1_163s" />
  <input type="radio" tabindex="-1" name="score" id="s1_162s" />
  <input type="radio" tabindex="-1" name="score" id="s1_161s" />
  <input type="radio" tabindex="-1" name="score" id="s1_160s" />
  <input type="radio" tabindex="-1" name="score" id="s1_159s" />
  <input type="radio" tabindex="-1" name="score" id="s1_158s" />
  <input type="radio" tabindex="-1" name="score" id="s1_157s" />
  <input type="radio" tabindex="-1" name="score" id="s1_156s" />
  <input type="radio" tabindex="-1" name="score" id="s1_155s" />
  <input type="radio" tabindex="-1" name="score" id="s1_154s" />
  <input type="radio" tabindex="-1" name="score" id="s1_153s" />
  <input type="radio" tabindex="-1" name="score" id="s1_152s" />
  <input type="radio" tabindex="-1" name="score" id="s1_151s" />
  <input type="radio" tabindex="-1" name="score" id="s1_150s" />
  <input type="radio" tabindex="-1" name="score" id="s1_149s" />
  <input type="radio" tabindex="-1" name="score" id="s1_148s" />
  <input type="radio" tabindex="-1" name="score" id="s1_147s" />
  <input type="radio" tabindex="-1" name="score" id="s1_146s" />
  <input type="radio" tabindex="-1" name="score" id="s1_145s" />
  <input type="radio" tabindex="-1" name="score" id="s1_144s" />
  <input type="radio" tabindex="-1" name="score" id="s1_143s" />
  <input type="radio" tabindex="-1" name="score" id="s1_142s" />
  <input type="radio" tabindex="-1" name="score" id="s1_141s" />
  <input type="radio" tabindex="-1" name="score" id="s1_140s" />
  <input type="radio" tabindex="-1" name="score" id="s1_139s" />
  <input type="radio" tabindex="-1" name="score" id="s1_138s" />
  <input type="radio" tabindex="-1" name="score" id="s1_137s" />
  <input type="radio" tabindex="-1" name="score" id="s1_136s" />
  <input type="radio" tabindex="-1" name="score" id="s1_135s" />
  <input type="radio" tabindex="-1" name="score" id="s1_134s" />
  <input type="radio" tabindex="-1" name="score" id="s1_133s" />
  <input type="radio" tabindex="-1" name="score" id="s1_132s" />
  <input type="radio" tabindex="-1" name="score" id="s1_131s" />
  <input type="radio" tabindex="-1" name="score" id="s1_130s" />
  <input type="radio" tabindex="-1" name="score" id="s1_129s" />
  <input type="radio" tabindex="-1" name="score" id="s1_128s" />
  <input type="radio" tabindex="-1" name="score" id="s1_127s" />
  <input type="radio" tabindex="-1" name="score" id="s1_126s" />
  <input type="radio" tabindex="-1" name="score" id="s1_125s" />
  <input type="radio" tabindex="-1" name="score" id="s1_124s" />
  <input type="radio" tabindex="-1" name="score" id="s1_123s" />
  <input type="radio" tabindex="-1" name="score" id="s1_122s" />
  <input type="radio" tabindex="-1" name="score" id="s1_121s" />
  <input type="radio" tabindex="-1" name="score" id="s1_120s" />
  <input type="radio" tabindex="-1" name="score" id="s1_119s" />
  <input type="radio" tabindex="-1" name="score" id="s1_118s" />
  <input type="radio" tabindex="-1" name="score" id="s1_117s" />
  <input type="radio" tabindex="-1" name="score" id="s1_116s" />
  <input type="radio" tabindex="-1" name="score" id="s1_115s" />
  <input type="radio" tabindex="-1" name="score" id="s1_114s" />
  <input type="radio" tabindex="-1" name="score" id="s1_113s" />
  <input type="radio" tabindex="-1" name="score" id="s1_112s" />
  <input type="radio" tabindex="-1" name="score" id="s1_111s" />
  <input type="radio" tabindex="-1" name="score" id="s1_110s" />
  <input type="radio" tabindex="-1" name="score" id="s1_109s" />
  <input type="radio" tabindex="-1" name="score" id="s1_108s" />
  <input type="radio" tabindex="-1" name="score" id="s1_107s" />
  <input type="radio" tabindex="-1" name="score" id="s1_106s" />
  <input type="radio" tabindex="-1" name="score" id="s1_105s" />
  <input type="radio" tabindex="-1" name="score" id="s1_104s" />
  <input type="radio" tabindex="-1" name="score" id="s1_103s" />
  <input type="radio" tabindex="-1" name="score" id="s1_102s" />
  <input type="radio" tabindex="-1" name="score" id="s1_101s" />
  <input type="radio" tabindex="-1" name="score" id="s1_100s" />
  <input type="radio" tabindex="-1" name="score" id="s1_99s" />
  <input type="radio" tabindex="-1" name="score" id="s1_98s" />
  <input type="radio" tabindex="-1" name="score" id="s1_97s" />
  <input type="radio" tabindex="-1" name="score" id="s1_96s" />
  <input type="radio" tabindex="-1" name="score" id="s1_95s" />
  <input type="radio" tabindex="-1" name="score" id="s1_94s" />
  <input type="radio" tabindex="-1" name="score" id="s1_93s" />
  <input type="radio" tabindex="-1" name="score" id="s1_92s" />
  <input type="radio" tabindex="-1" name="score" id="s1_91s" />
  <input type="radio" tabindex="-1" name="score" id="s1_90s" />
  <input type="radio" tabindex="-1" name="score" id="s1_89s" />
  <input type="radio" tabindex="-1" name="score" id="s1_88s" />
  <input type="radio" tabindex="-1" name="score" id="s1_87s" />
  <input type="radio" tabindex="-1" name="score" id="s1_86s" />
  <input type="radio" tabindex="-1" name="score" id="s1_85s" />
  <input type="radio" tabindex="-1" name="score" id="s1_84s" />
  <input type="radio" tabindex="-1" name="score" id="s1_83s" />
  <input type="radio" tabindex="-1" name="score" id="s1_82s" />
  <input type="radio" tabindex="-1" name="score" id="s1_81s" />
  <input type="radio" tabindex="-1" name="score" id="s1_80s" />
  <input type="radio" tabindex="-1" name="score" id="s1_79s" />
  <input type="radio" tabindex="-1" name="score" id="s1_78s" />
  <input type="radio" tabindex="-1" name="score" id="s1_77s" />
  <input type="radio" tabindex="-1" name="score" id="s1_76s" />
  <input type="radio" tabindex="-1" name="score" id="s1_75s" />
  <input type="radio" tabindex="-1" name="score" id="s1_74s" />
  <input type="radio" tabindex="-1" name="score" id="s1_73s" />
  <input type="radio" tabindex="-1" name="score" id="s1_72s" />
  <input type="radio" tabindex="-1" name="score" id="s1_71s" />
  <input type="radio" tabindex="-1" name="score" id="s1_70s" />
  <input type="radio" tabindex="-1" name="score" id="s1_69s" />
  <input type="radio" tabindex="-1" name="score" id="s1_68s" />
  <input type="radio" tabindex="-1" name="score" id="s1_67s" />
  <input type="radio" tabindex="-1" name="score" id="s1_66s" />
  <input type="radio" tabindex="-1" name="score" id="s1_65s" />
  <input type="radio" tabindex="-1" name="score" id="s1_64s" />
  <input type="radio" tabindex="-1" name="score" id="s1_63s" />
  <input type="radio" tabindex="-1" name="score" id="s1_62s" />
  <input type="radio" tabindex="-1" name="score" id="s1_61s" />
  <input type="radio" tabindex="-1" name="score" id="s1_60s" />
  <input type="radio" tabindex="-1" name="score" id="s1_59s" />
  <input type="radio" tabindex="-1" name="score" id="s1_58s" />
  <input type="radio" tabindex="-1" name="score" id="s1_57s" />
  <input type="radio" tabindex="-1" name="score" id="s1_56s" />
  <input type="radio" tabindex="-1" name="score" id="s1_55s" />
  <input type="radio" tabindex="-1" name="score" id="s1_54s" />
  <input type="radio" tabindex="-1" name="score" id="s1_53s" />
  <input type="radio" tabindex="-1" name="score" id="s1_52s" />
  <input type="radio" tabindex="-1" name="score" id="s1_51s" />
  <input type="radio" tabindex="-1" name="score" id="s1_50s" />
  <input type="radio" tabindex="-1" name="score" id="s1_49s" />
  <input type="radio" tabindex="-1" name="score" id="s1_48s" />
  <input type="radio" tabindex="-1" name="score" id="s1_47s" />
  <input type="radio" tabindex="-1" name="score" id="s1_46s" />
  <input type="radio" tabindex="-1" name="score" id="s1_45s" />
  <input type="radio" tabindex="-1" name="score" id="s1_44s" />
  <input type="radio" tabindex="-1" name="score" id="s1_43s" />
  <input type="radio" tabindex="-1" name="score" id="s1_42s" />
  <input type="radio" tabindex="-1" name="score" id="s1_41s" />
  <input type="radio" tabindex="-1" name="score" id="s1_40s" />
  <input type="radio" tabindex="-1" name="score" id="s1_39s" />
  <input type="radio" tabindex="-1" name="score" id="s1_38s" />
  <input type="radio" tabindex="-1" name="score" id="s1_37s" />
  <input type="radio" tabindex="-1" name="score" id="s1_36s" />
  <input type="radio" tabindex="-1" name="score" id="s1_35s" />
  <input type="radio" tabindex="-1" name="score" id="s1_34s" />
  <input type="radio" tabindex="-1" name="score" id="s1_33s" />
  <input type="radio" tabindex="-1" name="score" id="s1_32s" />
  <input type="radio" tabindex="-1" name="score" id="s1_31s" />
  <input type="radio" tabindex="-1" name="score" id="s1_30s" />
  <input type="radio" tabindex="-1" name="score" id="s1_29s" />
  <input type="radio" tabindex="-1" name="score" id="s1_28s" />
  <input type="radio" tabindex="-1" name="score" id="s1_27s" />
  <input type="radio" tabindex="-1" name="score" id="s1_26s" />
  <input type="radio" tabindex="-1" name="score" id="s1_25s" />
  <input type="radio" tabindex="-1" name="score" id="s1_24s" />
  <input type="radio" tabindex="-1" name="score" id="s1_23s" />
  <input type="radio" tabindex="-1" name="score" id="s1_22s" />
  <input type="radio" tabindex="-1" name="score" id="s1_21s" />
  <input type="radio" tabindex="-1" name="score" id="s1_20s" />
  <input type="radio" tabindex="-1" name="score" id="s1_19s" />
  <input type="radio" tabindex="-1" name="score" id="s1_18s" />
  <input type="radio" tabindex="-1" name="score" id="s1_17s" />
  <input type="radio" tabindex="-1" name="score" id="s1_16s" />
  <input type="radio" tabindex="-1" name="score" id="s1_15s" />
  <input type="radio" tabindex="-1" name="score" id="s1_14s" />
  <input type="radio" tabindex="-1" name="score" id="s1_13s" />
  <input type="radio" tabindex="-1" name="score" id="s1_12s" />
  <input type="radio" tabindex="-1" name="score" id="s1_11s" />
  <input type="radio" tabindex="-1" name="score" id="s1_10s" />
  <input type="radio" tabindex="-1" name="score" id="s1_9s" />
  <input type="radio" tabindex="-1" name="score" id="s1_8s" />
  <input type="radio" tabindex="-1" name="score" id="s1_7s" />
  <input type="radio" tabindex="-1" name="score" id="s1_6s" />
  <input type="radio" tabindex="-1" name="score" id="s1_5s" />
  <input type="radio" tabindex="-1" name="score" id="s1_4s" />
  <input type="radio" tabindex="-1" name="score" id="s1_3s" />
  <input type="radio" tabindex="-1" name="score" id="s1_2s" />
  <input type="radio" tabindex="-1" name="score" id="s1_0s" />
  <input type="radio" tabindex="-1" name="score" id="s2_501s" checked="checked" />
  <input type="radio" tabindex="-1" name="score" id="s2_500s" />
  <input type="radio" tabindex="-1" name="score" id="s2_499s" />
  <input type="radio" tabindex="-1" name="score" id="s2_498s" />
  <input type="radio" tabindex="-1" name="score" id="s2_497s" />
  <input type="radio" tabindex="-1" name="score" id="s2_496s" />
  <input type="radio" tabindex="-1" name="score" id="s2_495s" />
  <input type="radio" tabindex="-1" name="score" id="s2_494s" />
  <input type="radio" tabindex="-1" name="score" id="s2_493s" />
  <input type="radio" tabindex="-1" name="score" id="s2_492s" />
  <input type="radio" tabindex="-1" name="score" id="s2_491s" />
  <input type="radio" tabindex="-1" name="score" id="s2_490s" />
  <input type="radio" tabindex="-1" name="score" id="s2_489s" />
  <input type="radio" tabindex="-1" name="score" id="s2_488s" />
  <input type="radio" tabindex="-1" name="score" id="s2_487s" />
  <input type="radio" tabindex="-1" name="score" id="s2_486s" />
  <input type="radio" tabindex="-1" name="score" id="s2_485s" />
  <input type="radio" tabindex="-1" name="score" id="s2_484s" />
  <input type="radio" tabindex="-1" name="score" id="s2_483s" />
  <input type="radio" tabindex="-1" name="score" id="s2_482s" />
  <input type="radio" tabindex="-1" name="score" id="s2_481s" />
  <input type="radio" tabindex="-1" name="score" id="s2_480s" />
  <input type="radio" tabindex="-1" name="score" id="s2_479s" />
  <input type="radio" tabindex="-1" name="score" id="s2_478s" />
  <input type="radio" tabindex="-1" name="score" id="s2_477s" />
  <input type="radio" tabindex="-1" name="score" id="s2_476s" />
  <input type="radio" tabindex="-1" name="score" id="s2_475s" />
  <input type="radio" tabindex="-1" name="score" id="s2_474s" />
  <input type="radio" tabindex="-1" name="score" id="s2_473s" />
  <input type="radio" tabindex="-1" name="score" id="s2_472s" />
  <input type="radio" tabindex="-1" name="score" id="s2_471s" />
  <input type="radio" tabindex="-1" name="score" id="s2_470s" />
  <input type="radio" tabindex="-1" name="score" id="s2_469s" />
  <input type="radio" tabindex="-1" name="score" id="s2_468s" />
  <input type="radio" tabindex="-1" name="score" id="s2_467s" />
  <input type="radio" tabindex="-1" name="score" id="s2_466s" />
  <input type="radio" tabindex="-1" name="score" id="s2_465s" />
  <input type="radio" tabindex="-1" name="score" id="s2_464s" />
  <input type="radio" tabindex="-1" name="score" id="s2_463s" />
  <input type="radio" tabindex="-1" name="score" id="s2_462s" />
  <input type="radio" tabindex="-1" name="score" id="s2_461s" />
  <input type="radio" tabindex="-1" name="score" id="s2_460s" />
  <input type="radio" tabindex="-1" name="score" id="s2_459s" />
  <input type="radio" tabindex="-1" name="score" id="s2_458s" />
  <input type="radio" tabindex="-1" name="score" id="s2_457s" />
  <input type="radio" tabindex="-1" name="score" id="s2_456s" />
  <input type="radio" tabindex="-1" name="score" id="s2_455s" />
  <input type="radio" tabindex="-1" name="score" id="s2_454s" />
  <input type="radio" tabindex="-1" name="score" id="s2_453s" />
  <input type="radio" tabindex="-1" name="score" id="s2_452s" />
  <input type="radio" tabindex="-1" name="score" id="s2_451s" />
  <input type="radio" tabindex="-1" name="score" id="s2_450s" />
  <input type="radio" tabindex="-1" name="score" id="s2_449s" />
  <input type="radio" tabindex="-1" name="score" id="s2_448s" />
  <input type="radio" tabindex="-1" name="score" id="s2_447s" />
  <input type="radio" tabindex="-1" name="score" id="s2_446s" />
  <input type="radio" tabindex="-1" name="score" id="s2_445s" />
  <input type="radio" tabindex="-1" name="score" id="s2_444s" />
  <input type="radio" tabindex="-1" name="score" id="s2_443s" />
  <input type="radio" tabindex="-1" name="score" id="s2_442s" />
  <input type="radio" tabindex="-1" name="score" id="s2_441s" />
  <input type="radio" tabindex="-1" name="score" id="s2_440s" />
  <input type="radio" tabindex="-1" name="score" id="s2_439s" />
  <input type="radio" tabindex="-1" name="score" id="s2_438s" />
  <input type="radio" tabindex="-1" name="score" id="s2_437s" />
  <input type="radio" tabindex="-1" name="score" id="s2_436s" />
  <input type="radio" tabindex="-1" name="score" id="s2_435s" />
  <input type="radio" tabindex="-1" name="score" id="s2_434s" />
  <input type="radio" tabindex="-1" name="score" id="s2_433s" />
  <input type="radio" tabindex="-1" name="score" id="s2_432s" />
  <input type="radio" tabindex="-1" name="score" id="s2_431s" />
  <input type="radio" tabindex="-1" name="score" id="s2_430s" />
  <input type="radio" tabindex="-1" name="score" id="s2_429s" />
  <input type="radio" tabindex="-1" name="score" id="s2_428s" />
  <input type="radio" tabindex="-1" name="score" id="s2_427s" />
  <input type="radio" tabindex="-1" name="score" id="s2_426s" />
  <input type="radio" tabindex="-1" name="score" id="s2_425s" />
  <input type="radio" tabindex="-1" name="score" id="s2_424s" />
  <input type="radio" tabindex="-1" name="score" id="s2_423s" />
  <input type="radio" tabindex="-1" name="score" id="s2_422s" />
  <input type="radio" tabindex="-1" name="score" id="s2_421s" />
  <input type="radio" tabindex="-1" name="score" id="s2_420s" />
  <input type="radio" tabindex="-1" name="score" id="s2_419s" />
  <input type="radio" tabindex="-1" name="score" id="s2_418s" />
  <input type="radio" tabindex="-1" name="score" id="s2_417s" />
  <input type="radio" tabindex="-1" name="score" id="s2_416s" />
  <input type="radio" tabindex="-1" name="score" id="s2_415s" />
  <input type="radio" tabindex="-1" name="score" id="s2_414s" />
  <input type="radio" tabindex="-1" name="score" id="s2_413s" />
  <input type="radio" tabindex="-1" name="score" id="s2_412s" />
  <input type="radio" tabindex="-1" name="score" id="s2_411s" />
  <input type="radio" tabindex="-1" name="score" id="s2_410s" />
  <input type="radio" tabindex="-1" name="score" id="s2_409s" />
  <input type="radio" tabindex="-1" name="score" id="s2_408s" />
  <input type="radio" tabindex="-1" name="score" id="s2_407s" />
  <input type="radio" tabindex="-1" name="score" id="s2_406s" />
  <input type="radio" tabindex="-1" name="score" id="s2_405s" />
  <input type="radio" tabindex="-1" name="score" id="s2_404s" />
  <input type="radio" tabindex="-1" name="score" id="s2_403s" />
  <input type="radio" tabindex="-1" name="score" id="s2_402s" />
  <input type="radio" tabindex="-1" name="score" id="s2_401s" />
  <input type="radio" tabindex="-1" name="score" id="s2_400s" />
  <input type="radio" tabindex="-1" name="score" id="s2_399s" />
  <input type="radio" tabindex="-1" name="score" id="s2_398s" />
  <input type="radio" tabindex="-1" name="score" id="s2_397s" />
  <input type="radio" tabindex="-1" name="score" id="s2_396s" />
  <input type="radio" tabindex="-1" name="score" id="s2_395s" />
  <input type="radio" tabindex="-1" name="score" id="s2_394s" />
  <input type="radio" tabindex="-1" name="score" id="s2_393s" />
  <input type="radio" tabindex="-1" name="score" id="s2_392s" />
  <input type="radio" tabindex="-1" name="score" id="s2_391s" />
  <input type="radio" tabindex="-1" name="score" id="s2_390s" />
  <input type="radio" tabindex="-1" name="score" id="s2_389s" />
  <input type="radio" tabindex="-1" name="score" id="s2_388s" />
  <input type="radio" tabindex="-1" name="score" id="s2_387s" />
  <input type="radio" tabindex="-1" name="score" id="s2_386s" />
  <input type="radio" tabindex="-1" name="score" id="s2_385s" />
  <input type="radio" tabindex="-1" name="score" id="s2_384s" />
  <input type="radio" tabindex="-1" name="score" id="s2_383s" />
  <input type="radio" tabindex="-1" name="score" id="s2_382s" />
  <input type="radio" tabindex="-1" name="score" id="s2_381s" />
  <input type="radio" tabindex="-1" name="score" id="s2_380s" />
  <input type="radio" tabindex="-1" name="score" id="s2_379s" />
  <input type="radio" tabindex="-1" name="score" id="s2_378s" />
  <input type="radio" tabindex="-1" name="score" id="s2_377s" />
  <input type="radio" tabindex="-1" name="score" id="s2_376s" />
  <input type="radio" tabindex="-1" name="score" id="s2_375s" />
  <input type="radio" tabindex="-1" name="score" id="s2_374s" />
  <input type="radio" tabindex="-1" name="score" id="s2_373s" />
  <input type="radio" tabindex="-1" name="score" id="s2_372s" />
  <input type="radio" tabindex="-1" name="score" id="s2_371s" />
  <input type="radio" tabindex="-1" name="score" id="s2_370s" />
  <input type="radio" tabindex="-1" name="score" id="s2_369s" />
  <input type="radio" tabindex="-1" name="score" id="s2_368s" />
  <input type="radio" tabindex="-1" name="score" id="s2_367s" />
  <input type="radio" tabindex="-1" name="score" id="s2_366s" />
  <input type="radio" tabindex="-1" name="score" id="s2_365s" />
  <input type="radio" tabindex="-1" name="score" id="s2_364s" />
  <input type="radio" tabindex="-1" name="score" id="s2_363s" />
  <input type="radio" tabindex="-1" name="score" id="s2_362s" />
  <input type="radio" tabindex="-1" name="score" id="s2_361s" />
  <input type="radio" tabindex="-1" name="score" id="s2_360s" />
  <input type="radio" tabindex="-1" name="score" id="s2_359s" />
  <input type="radio" tabindex="-1" name="score" id="s2_358s" />
  <input type="radio" tabindex="-1" name="score" id="s2_357s" />
  <input type="radio" tabindex="-1" name="score" id="s2_356s" />
  <input type="radio" tabindex="-1" name="score" id="s2_355s" />
  <input type="radio" tabindex="-1" name="score" id="s2_354s" />
  <input type="radio" tabindex="-1" name="score" id="s2_353s" />
  <input type="radio" tabindex="-1" name="score" id="s2_352s" />
  <input type="radio" tabindex="-1" name="score" id="s2_351s" />
  <input type="radio" tabindex="-1" name="score" id="s2_350s" />
  <input type="radio" tabindex="-1" name="score" id="s2_349s" />
  <input type="radio" tabindex="-1" name="score" id="s2_348s" />
  <input type="radio" tabindex="-1" name="score" id="s2_347s" />
  <input type="radio" tabindex="-1" name="score" id="s2_346s" />
  <input type="radio" tabindex="-1" name="score" id="s2_345s" />
  <input type="radio" tabindex="-1" name="score" id="s2_344s" />
  <input type="radio" tabindex="-1" name="score" id="s2_343s" />
  <input type="radio" tabindex="-1" name="score" id="s2_342s" />
  <input type="radio" tabindex="-1" name="score" id="s2_341s" />
  <input type="radio" tabindex="-1" name="score" id="s2_340s" />
  <input type="radio" tabindex="-1" name="score" id="s2_339s" />
  <input type="radio" tabindex="-1" name="score" id="s2_338s" />
  <input type="radio" tabindex="-1" name="score" id="s2_337s" />
  <input type="radio" tabindex="-1" name="score" id="s2_336s" />
  <input type="radio" tabindex="-1" name="score" id="s2_335s" />
  <input type="radio" tabindex="-1" name="score" id="s2_334s" />
  <input type="radio" tabindex="-1" name="score" id="s2_333s" />
  <input type="radio" tabindex="-1" name="score" id="s2_332s" />
  <input type="radio" tabindex="-1" name="score" id="s2_331s" />
  <input type="radio" tabindex="-1" name="score" id="s2_330s" />
  <input type="radio" tabindex="-1" name="score" id="s2_329s" />
  <input type="radio" tabindex="-1" name="score" id="s2_328s" />
  <input type="radio" tabindex="-1" name="score" id="s2_327s" />
  <input type="radio" tabindex="-1" name="score" id="s2_326s" />
  <input type="radio" tabindex="-1" name="score" id="s2_325s" />
  <input type="radio" tabindex="-1" name="score" id="s2_324s" />
  <input type="radio" tabindex="-1" name="score" id="s2_323s" />
  <input type="radio" tabindex="-1" name="score" id="s2_322s" />
  <input type="radio" tabindex="-1" name="score" id="s2_321s" />
  <input type="radio" tabindex="-1" name="score" id="s2_320s" />
  <input type="radio" tabindex="-1" name="score" id="s2_319s" />
  <input type="radio" tabindex="-1" name="score" id="s2_318s" />
  <input type="radio" tabindex="-1" name="score" id="s2_317s" />
  <input type="radio" tabindex="-1" name="score" id="s2_316s" />
  <input type="radio" tabindex="-1" name="score" id="s2_315s" />
  <input type="radio" tabindex="-1" name="score" id="s2_314s" />
  <input type="radio" tabindex="-1" name="score" id="s2_313s" />
  <input type="radio" tabindex="-1" name="score" id="s2_312s" />
  <input type="radio" tabindex="-1" name="score" id="s2_311s" />
  <input type="radio" tabindex="-1" name="score" id="s2_310s" />
  <input type="radio" tabindex="-1" name="score" id="s2_309s" />
  <input type="radio" tabindex="-1" name="score" id="s2_308s" />
  <input type="radio" tabindex="-1" name="score" id="s2_307s" />
  <input type="radio" tabindex="-1" name="score" id="s2_306s" />
  <input type="radio" tabindex="-1" name="score" id="s2_305s" />
  <input type="radio" tabindex="-1" name="score" id="s2_304s" />
  <input type="radio" tabindex="-1" name="score" id="s2_303s" />
  <input type="radio" tabindex="-1" name="score" id="s2_302s" />
  <input type="radio" tabindex="-1" name="score" id="s2_301s" />
  <input type="radio" tabindex="-1" name="score" id="s2_300s" />
  <input type="radio" tabindex="-1" name="score" id="s2_299s" />
  <input type="radio" tabindex="-1" name="score" id="s2_298s" />
  <input type="radio" tabindex="-1" name="score" id="s2_297s" />
  <input type="radio" tabindex="-1" name="score" id="s2_296s" />
  <input type="radio" tabindex="-1" name="score" id="s2_295s" />
  <input type="radio" tabindex="-1" name="score" id="s2_294s" />
  <input type="radio" tabindex="-1" name="score" id="s2_293s" />
  <input type="radio" tabindex="-1" name="score" id="s2_292s" />
  <input type="radio" tabindex="-1" name="score" id="s2_291s" />
  <input type="radio" tabindex="-1" name="score" id="s2_290s" />
  <input type="radio" tabindex="-1" name="score" id="s2_289s" />
  <input type="radio" tabindex="-1" name="score" id="s2_288s" />
  <input type="radio" tabindex="-1" name="score" id="s2_287s" />
  <input type="radio" tabindex="-1" name="score" id="s2_286s" />
  <input type="radio" tabindex="-1" name="score" id="s2_285s" />
  <input type="radio" tabindex="-1" name="score" id="s2_284s" />
  <input type="radio" tabindex="-1" name="score" id="s2_283s" />
  <input type="radio" tabindex="-1" name="score" id="s2_282s" />
  <input type="radio" tabindex="-1" name="score" id="s2_281s" />
  <input type="radio" tabindex="-1" name="score" id="s2_280s" />
  <input type="radio" tabindex="-1" name="score" id="s2_279s" />
  <input type="radio" tabindex="-1" name="score" id="s2_278s" />
  <input type="radio" tabindex="-1" name="score" id="s2_277s" />
  <input type="radio" tabindex="-1" name="score" id="s2_276s" />
  <input type="radio" tabindex="-1" name="score" id="s2_275s" />
  <input type="radio" tabindex="-1" name="score" id="s2_274s" />
  <input type="radio" tabindex="-1" name="score" id="s2_273s" />
  <input type="radio" tabindex="-1" name="score" id="s2_272s" />
  <input type="radio" tabindex="-1" name="score" id="s2_271s" />
  <input type="radio" tabindex="-1" name="score" id="s2_270s" />
  <input type="radio" tabindex="-1" name="score" id="s2_269s" />
  <input type="radio" tabindex="-1" name="score" id="s2_268s" />
  <input type="radio" tabindex="-1" name="score" id="s2_267s" />
  <input type="radio" tabindex="-1" name="score" id="s2_266s" />
  <input type="radio" tabindex="-1" name="score" id="s2_265s" />
  <input type="radio" tabindex="-1" name="score" id="s2_264s" />
  <input type="radio" tabindex="-1" name="score" id="s2_263s" />
  <input type="radio" tabindex="-1" name="score" id="s2_262s" />
  <input type="radio" tabindex="-1" name="score" id="s2_261s" />
  <input type="radio" tabindex="-1" name="score" id="s2_260s" />
  <input type="radio" tabindex="-1" name="score" id="s2_259s" />
  <input type="radio" tabindex="-1" name="score" id="s2_258s" />
  <input type="radio" tabindex="-1" name="score" id="s2_257s" />
  <input type="radio" tabindex="-1" name="score" id="s2_256s" />
  <input type="radio" tabindex="-1" name="score" id="s2_255s" />
  <input type="radio" tabindex="-1" name="score" id="s2_254s" />
  <input type="radio" tabindex="-1" name="score" id="s2_253s" />
  <input type="radio" tabindex="-1" name="score" id="s2_252s" />
  <input type="radio" tabindex="-1" name="score" id="s2_251s" />
  <input type="radio" tabindex="-1" name="score" id="s2_250s" />
  <input type="radio" tabindex="-1" name="score" id="s2_249s" />
  <input type="radio" tabindex="-1" name="score" id="s2_248s" />
  <input type="radio" tabindex="-1" name="score" id="s2_247s" />
  <input type="radio" tabindex="-1" name="score" id="s2_246s" />
  <input type="radio" tabindex="-1" name="score" id="s2_245s" />
  <input type="radio" tabindex="-1" name="score" id="s2_244s" />
  <input type="radio" tabindex="-1" name="score" id="s2_243s" />
  <input type="radio" tabindex="-1" name="score" id="s2_242s" />
  <input type="radio" tabindex="-1" name="score" id="s2_241s" />
  <input type="radio" tabindex="-1" name="score" id="s2_240s" />
  <input type="radio" tabindex="-1" name="score" id="s2_239s" />
  <input type="radio" tabindex="-1" name="score" id="s2_238s" />
  <input type="radio" tabindex="-1" name="score" id="s2_237s" />
  <input type="radio" tabindex="-1" name="score" id="s2_236s" />
  <input type="radio" tabindex="-1" name="score" id="s2_235s" />
  <input type="radio" tabindex="-1" name="score" id="s2_234s" />
  <input type="radio" tabindex="-1" name="score" id="s2_233s" />
  <input type="radio" tabindex="-1" name="score" id="s2_232s" />
  <input type="radio" tabindex="-1" name="score" id="s2_231s" />
  <input type="radio" tabindex="-1" name="score" id="s2_230s" />
  <input type="radio" tabindex="-1" name="score" id="s2_229s" />
  <input type="radio" tabindex="-1" name="score" id="s2_228s" />
  <input type="radio" tabindex="-1" name="score" id="s2_227s" />
  <input type="radio" tabindex="-1" name="score" id="s2_226s" />
  <input type="radio" tabindex="-1" name="score" id="s2_225s" />
  <input type="radio" tabindex="-1" name="score" id="s2_224s" />
  <input type="radio" tabindex="-1" name="score" id="s2_223s" />
  <input type="radio" tabindex="-1" name="score" id="s2_222s" />
  <input type="radio" tabindex="-1" name="score" id="s2_221s" />
  <input type="radio" tabindex="-1" name="score" id="s2_220s" />
  <input type="radio" tabindex="-1" name="score" id="s2_219s" />
  <input type="radio" tabindex="-1" name="score" id="s2_218s" />
  <input type="radio" tabindex="-1" name="score" id="s2_217s" />
  <input type="radio" tabindex="-1" name="score" id="s2_216s" />
  <input type="radio" tabindex="-1" name="score" id="s2_215s" />
  <input type="radio" tabindex="-1" name="score" id="s2_214s" />
  <input type="radio" tabindex="-1" name="score" id="s2_213s" />
  <input type="radio" tabindex="-1" name="score" id="s2_212s" />
  <input type="radio" tabindex="-1" name="score" id="s2_211s" />
  <input type="radio" tabindex="-1" name="score" id="s2_210s" />
  <input type="radio" tabindex="-1" name="score" id="s2_209s" />
  <input type="radio" tabindex="-1" name="score" id="s2_208s" />
  <input type="radio" tabindex="-1" name="score" id="s2_207s" />
  <input type="radio" tabindex="-1" name="score" id="s2_206s" />
  <input type="radio" tabindex="-1" name="score" id="s2_205s" />
  <input type="radio" tabindex="-1" name="score" id="s2_204s" />
  <input type="radio" tabindex="-1" name="score" id="s2_203s" />
  <input type="radio" tabindex="-1" name="score" id="s2_202s" />
  <input type="radio" tabindex="-1" name="score" id="s2_201s" />
  <input type="radio" tabindex="-1" name="score" id="s2_200s" />
  <input type="radio" tabindex="-1" name="score" id="s2_199s" />
  <input type="radio" tabindex="-1" name="score" id="s2_198s" />
  <input type="radio" tabindex="-1" name="score" id="s2_197s" />
  <input type="radio" tabindex="-1" name="score" id="s2_196s" />
  <input type="radio" tabindex="-1" name="score" id="s2_195s" />
  <input type="radio" tabindex="-1" name="score" id="s2_194s" />
  <input type="radio" tabindex="-1" name="score" id="s2_193s" />
  <input type="radio" tabindex="-1" name="score" id="s2_192s" />
  <input type="radio" tabindex="-1" name="score" id="s2_191s" />
  <input type="radio" tabindex="-1" name="score" id="s2_190s" />
  <input type="radio" tabindex="-1" name="score" id="s2_189s" />
  <input type="radio" tabindex="-1" name="score" id="s2_188s" />
  <input type="radio" tabindex="-1" name="score" id="s2_187s" />
  <input type="radio" tabindex="-1" name="score" id="s2_186s" />
  <input type="radio" tabindex="-1" name="score" id="s2_185s" />
  <input type="radio" tabindex="-1" name="score" id="s2_184s" />
  <input type="radio" tabindex="-1" name="score" id="s2_183s" />
  <input type="radio" tabindex="-1" name="score" id="s2_182s" />
  <input type="radio" tabindex="-1" name="score" id="s2_181s" />
  <input type="radio" tabindex="-1" name="score" id="s2_180s" />
  <input type="radio" tabindex="-1" name="score" id="s2_179s" />
  <input type="radio" tabindex="-1" name="score" id="s2_178s" />
  <input type="radio" tabindex="-1" name="score" id="s2_177s" />
  <input type="radio" tabindex="-1" name="score" id="s2_176s" />
  <input type="radio" tabindex="-1" name="score" id="s2_175s" />
  <input type="radio" tabindex="-1" name="score" id="s2_174s" />
  <input type="radio" tabindex="-1" name="score" id="s2_173s" />
  <input type="radio" tabindex="-1" name="score" id="s2_172s" />
  <input type="radio" tabindex="-1" name="score" id="s2_171s" />
  <input type="radio" tabindex="-1" name="score" id="s2_170s" />
  <input type="radio" tabindex="-1" name="score" id="s2_169s" />
  <input type="radio" tabindex="-1" name="score" id="s2_168s" />
  <input type="radio" tabindex="-1" name="score" id="s2_167s" />
  <input type="radio" tabindex="-1" name="score" id="s2_166s" />
  <input type="radio" tabindex="-1" name="score" id="s2_165s" />
  <input type="radio" tabindex="-1" name="score" id="s2_164s" />
  <input type="radio" tabindex="-1" name="score" id="s2_163s" />
  <input type="radio" tabindex="-1" name="score" id="s2_162s" />
  <input type="radio" tabindex="-1" name="score" id="s2_161s" />
  <input type="radio" tabindex="-1" name="score" id="s2_160s" />
  <input type="radio" tabindex="-1" name="score" id="s2_159s" />
  <input type="radio" tabindex="-1" name="score" id="s2_158s" />
  <input type="radio" tabindex="-1" name="score" id="s2_157s" />
  <input type="radio" tabindex="-1" name="score" id="s2_156s" />
  <input type="radio" tabindex="-1" name="score" id="s2_155s" />
  <input type="radio" tabindex="-1" name="score" id="s2_154s" />
  <input type="radio" tabindex="-1" name="score" id="s2_153s" />
  <input type="radio" tabindex="-1" name="score" id="s2_152s" />
  <input type="radio" tabindex="-1" name="score" id="s2_151s" />
  <input type="radio" tabindex="-1" name="score" id="s2_150s" />
  <input type="radio" tabindex="-1" name="score" id="s2_149s" />
  <input type="radio" tabindex="-1" name="score" id="s2_148s" />
  <input type="radio" tabindex="-1" name="score" id="s2_147s" />
  <input type="radio" tabindex="-1" name="score" id="s2_146s" />
  <input type="radio" tabindex="-1" name="score" id="s2_145s" />
  <input type="radio" tabindex="-1" name="score" id="s2_144s" />
  <input type="radio" tabindex="-1" name="score" id="s2_143s" />
  <input type="radio" tabindex="-1" name="score" id="s2_142s" />
  <input type="radio" tabindex="-1" name="score" id="s2_141s" />
  <input type="radio" tabindex="-1" name="score" id="s2_140s" />
  <input type="radio" tabindex="-1" name="score" id="s2_139s" />
  <input type="radio" tabindex="-1" name="score" id="s2_138s" />
  <input type="radio" tabindex="-1" name="score" id="s2_137s" />
  <input type="radio" tabindex="-1" name="score" id="s2_136s" />
  <input type="radio" tabindex="-1" name="score" id="s2_135s" />
  <input type="radio" tabindex="-1" name="score" id="s2_134s" />
  <input type="radio" tabindex="-1" name="score" id="s2_133s" />
  <input type="radio" tabindex="-1" name="score" id="s2_132s" />
  <input type="radio" tabindex="-1" name="score" id="s2_131s" />
  <input type="radio" tabindex="-1" name="score" id="s2_130s" />
  <input type="radio" tabindex="-1" name="score" id="s2_129s" />
  <input type="radio" tabindex="-1" name="score" id="s2_128s" />
  <input type="radio" tabindex="-1" name="score" id="s2_127s" />
  <input type="radio" tabindex="-1" name="score" id="s2_126s" />
  <input type="radio" tabindex="-1" name="score" id="s2_125s" />
  <input type="radio" tabindex="-1" name="score" id="s2_124s" />
  <input type="radio" tabindex="-1" name="score" id="s2_123s" />
  <input type="radio" tabindex="-1" name="score" id="s2_122s" />
  <input type="radio" tabindex="-1" name="score" id="s2_121s" />
  <input type="radio" tabindex="-1" name="score" id="s2_120s" />
  <input type="radio" tabindex="-1" name="score" id="s2_119s" />
  <input type="radio" tabindex="-1" name="score" id="s2_118s" />
  <input type="radio" tabindex="-1" name="score" id="s2_117s" />
  <input type="radio" tabindex="-1" name="score" id="s2_116s" />
  <input type="radio" tabindex="-1" name="score" id="s2_115s" />
  <input type="radio" tabindex="-1" name="score" id="s2_114s" />
  <input type="radio" tabindex="-1" name="score" id="s2_113s" />
  <input type="radio" tabindex="-1" name="score" id="s2_112s" />
  <input type="radio" tabindex="-1" name="score" id="s2_111s" />
  <input type="radio" tabindex="-1" name="score" id="s2_110s" />
  <input type="radio" tabindex="-1" name="score" id="s2_109s" />
  <input type="radio" tabindex="-1" name="score" id="s2_108s" />
  <input type="radio" tabindex="-1" name="score" id="s2_107s" />
  <input type="radio" tabindex="-1" name="score" id="s2_106s" />
  <input type="radio" tabindex="-1" name="score" id="s2_105s" />
  <input type="radio" tabindex="-1" name="score" id="s2_104s" />
  <input type="radio" tabindex="-1" name="score" id="s2_103s" />
  <input type="radio" tabindex="-1" name="score" id="s2_102s" />
  <input type="radio" tabindex="-1" name="score" id="s2_101s" />
  <input type="radio" tabindex="-1" name="score" id="s2_100s" />
  <input type="radio" tabindex="-1" name="score" id="s2_99s" />
  <input type="radio" tabindex="-1" name="score" id="s2_98s" />
  <input type="radio" tabindex="-1" name="score" id="s2_97s" />
  <input type="radio" tabindex="-1" name="score" id="s2_96s" />
  <input type="radio" tabindex="-1" name="score" id="s2_95s" />
  <input type="radio" tabindex="-1" name="score" id="s2_94s" />
  <input type="radio" tabindex="-1" name="score" id="s2_93s" />
  <input type="radio" tabindex="-1" name="score" id="s2_92s" />
  <input type="radio" tabindex="-1" name="score" id="s2_91s" />
  <input type="radio" tabindex="-1" name="score" id="s2_90s" />
  <input type="radio" tabindex="-1" name="score" id="s2_89s" />
  <input type="radio" tabindex="-1" name="score" id="s2_88s" />
  <input type="radio" tabindex="-1" name="score" id="s2_87s" />
  <input type="radio" tabindex="-1" name="score" id="s2_86s" />
  <input type="radio" tabindex="-1" name="score" id="s2_85s" />
  <input type="radio" tabindex="-1" name="score" id="s2_84s" />
  <input type="radio" tabindex="-1" name="score" id="s2_83s" />
  <input type="radio" tabindex="-1" name="score" id="s2_82s" />
  <input type="radio" tabindex="-1" name="score" id="s2_81s" />
  <input type="radio" tabindex="-1" name="score" id="s2_80s" />
  <input type="radio" tabindex="-1" name="score" id="s2_79s" />
  <input type="radio" tabindex="-1" name="score" id="s2_78s" />
  <input type="radio" tabindex="-1" name="score" id="s2_77s" />
  <input type="radio" tabindex="-1" name="score" id="s2_76s" />
  <input type="radio" tabindex="-1" name="score" id="s2_75s" />
  <input type="radio" tabindex="-1" name="score" id="s2_74s" />
  <input type="radio" tabindex="-1" name="score" id="s2_73s" />
  <input type="radio" tabindex="-1" name="score" id="s2_72s" />
  <input type="radio" tabindex="-1" name="score" id="s2_71s" />
  <input type="radio" tabindex="-1" name="score" id="s2_70s" />
  <input type="radio" tabindex="-1" name="score" id="s2_69s" />
  <input type="radio" tabindex="-1" name="score" id="s2_68s" />
  <input type="radio" tabindex="-1" name="score" id="s2_67s" />
  <input type="radio" tabindex="-1" name="score" id="s2_66s" />
  <input type="radio" tabindex="-1" name="score" id="s2_65s" />
  <input type="radio" tabindex="-1" name="score" id="s2_64s" />
  <input type="radio" tabindex="-1" name="score" id="s2_63s" />
  <input type="radio" tabindex="-1" name="score" id="s2_62s" />
  <input type="radio" tabindex="-1" name="score" id="s2_61s" />
  <input type="radio" tabindex="-1" name="score" id="s2_60s" />
  <input type="radio" tabindex="-1" name="score" id="s2_59s" />
  <input type="radio" tabindex="-1" name="score" id="s2_58s" />
  <input type="radio" tabindex="-1" name="score" id="s2_57s" />
  <input type="radio" tabindex="-1" name="score" id="s2_56s" />
  <input type="radio" tabindex="-1" name="score" id="s2_55s" />
  <input type="radio" tabindex="-1" name="score" id="s2_54s" />
  <input type="radio" tabindex="-1" name="score" id="s2_53s" />
  <input type="radio" tabindex="-1" name="score" id="s2_52s" />
  <input type="radio" tabindex="-1" name="score" id="s2_51s" />
  <input type="radio" tabindex="-1" name="score" id="s2_50s" />
  <input type="radio" tabindex="-1" name="score" id="s2_49s" />
  <input type="radio" tabindex="-1" name="score" id="s2_48s" />
  <input type="radio" tabindex="-1" name="score" id="s2_47s" />
  <input type="radio" tabindex="-1" name="score" id="s2_46s" />
  <input type="radio" tabindex="-1" name="score" id="s2_45s" />
  <input type="radio" tabindex="-1" name="score" id="s2_44s" />
  <input type="radio" tabindex="-1" name="score" id="s2_43s" />
  <input type="radio" tabindex="-1" name="score" id="s2_42s" />
  <input type="radio" tabindex="-1" name="score" id="s2_41s" />
  <input type="radio" tabindex="-1" name="score" id="s2_40s" />
  <input type="radio" tabindex="-1" name="score" id="s2_39s" />
  <input type="radio" tabindex="-1" name="score" id="s2_38s" />
  <input type="radio" tabindex="-1" name="score" id="s2_37s" />
  <input type="radio" tabindex="-1" name="score" id="s2_36s" />
  <input type="radio" tabindex="-1" name="score" id="s2_35s" />
  <input type="radio" tabindex="-1" name="score" id="s2_34s" />
  <input type="radio" tabindex="-1" name="score" id="s2_33s" />
  <input type="radio" tabindex="-1" name="score" id="s2_32s" />
  <input type="radio" tabindex="-1" name="score" id="s2_31s" />
  <input type="radio" tabindex="-1" name="score" id="s2_30s" />
  <input type="radio" tabindex="-1" name="score" id="s2_29s" />
  <input type="radio" tabindex="-1" name="score" id="s2_28s" />
  <input type="radio" tabindex="-1" name="score" id="s2_27s" />
  <input type="radio" tabindex="-1" name="score" id="s2_26s" />
  <input type="radio" tabindex="-1" name="score" id="s2_25s" />
  <input type="radio" tabindex="-1" name="score" id="s2_24s" />
  <input type="radio" tabindex="-1" name="score" id="s2_23s" />
  <input type="radio" tabindex="-1" name="score" id="s2_22s" />
  <input type="radio" tabindex="-1" name="score" id="s2_21s" />
  <input type="radio" tabindex="-1" name="score" id="s2_20s" />
  <input type="radio" tabindex="-1" name="score" id="s2_19s" />
  <input type="radio" tabindex="-1" name="score" id="s2_18s" />
  <input type="radio" tabindex="-1" name="score" id="s2_17s" />
  <input type="radio" tabindex="-1" name="score" id="s2_16s" />
  <input type="radio" tabindex="-1" name="score" id="s2_15s" />
  <input type="radio" tabindex="-1" name="score" id="s2_14s" />
  <input type="radio" tabindex="-1" name="score" id="s2_13s" />
  <input type="radio" tabindex="-1" name="score" id="s2_12s" />
  <input type="radio" tabindex="-1" name="score" id="s2_11s" />
  <input type="radio" tabindex="-1" name="score" id="s2_10s" />
  <input type="radio" tabindex="-1" name="score" id="s2_9s" />
  <input type="radio" tabindex="-1" name="score" id="s2_8s" />
  <input type="radio" tabindex="-1" name="score" id="s2_7s" />
  <input type="radio" tabindex="-1" name="score" id="s2_6s" />
  <input type="radio" tabindex="-1" name="score" id="s2_5s" />
  <input type="radio" tabindex="-1" name="score" id="s2_4s" />
  <input type="radio" tabindex="-1" name="score" id="s2_3s" />
  <input type="radio" tabindex="-1" name="score" id="s2_2s" />
  <input type="radio" tabindex="-1" name="score" id="s2_0s" />
  <input type="reset" id="reset" value="Reset" />
  <div class="board">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <span id="spin1" class="spin">
    <span id="move1" class="move">
    <span id="spinback1" class="spinback">
    <span id="dart1" class="dart">
    </span>
        </span>
        </span>
        </span>
        <span id="spin2" class="spin">
    <span id="move2" class="move">
    <span id="spinback2" class="spinback">
    <span id="dart2" class="dart">
    </span>
        </span>
        </span>
        </span>
  </div>
 
  
  <div class="throws">
    <div class="throws1">
      <label for="t1_0"></label>
      <label for="t1_1"></label>
      <label for="t1_2"></label>
      <label for="t1_3"></label>
      <label for="t1_4"></label>
      <label for="t1_5"></label>
      <label for="t1_6"></label>
      <label for="t1_7"></label>
      <label for="t1_8"></label>
      <label for="t1_9"></label>
      <label for="t1_10"></label>
      <label for="t1_11"></label>
      <label for="t1_12"></label>
      <label for="t1_13"></label>
      <label for="t1_14"></label>
      <label for="t1_15"></label>
      <label for="t1_16"></label>
      <label for="t1_17"></label>
      <label for="t1_18"></label>
      <label for="t1_19"></label>
      <label for="t1_20"></label>
      <label for="t1_21"></label>
      <label for="t1_22"></label>
      <label for="t1_24"></label>
      <label for="t1_25"></label>
      <label for="t1_26"></label>
      <label for="t1_27"></label>
      <label for="t1_28"></label>
      <label for="t1_30"></label>
      <label for="t1_32"></label>
      <label for="t1_33"></label>
      <label for="t1_34"></label>
      <label for="t1_36"></label>
      <label for="t1_38"></label>
      <label for="t1_39"></label>
      <label for="t1_40"></label>
      <label for="t1_42"></label>
      <label for="t1_45"></label>
      <label for="t1_48"></label>
      <label for="t1_50"></label>
      <label for="t1_51"></label>
      <label for="t1_54"></label>
      <label for="t1_57"></label>
      <label for="t1_60"></label>
    </div>
    <div class="throws2">
      <label for="t2_0"></label>
      <label for="t2_1"></label>
      <label for="t2_2"></label>
      <label for="t2_3"></label>
      <label for="t2_4"></label>
      <label for="t2_5"></label>
      <label for="t2_6"></label>
      <label for="t2_7"></label>
      <label for="t2_8"></label>
      <label for="t2_9"></label>
      <label for="t2_10"></label>
      <label for="t2_11"></label>
      <label for="t2_12"></label>
      <label for="t2_13"></label>
      <label for="t2_14"></label>
      <label for="t2_15"></label>
      <label for="t2_16"></label>
      <label for="t2_17"></label>
      <label for="t2_18"></label>
      <label for="t2_19"></label>
      <label for="t2_20"></label>
      <label for="t2_21"></label>
      <label for="t2_22"></label>
      <label for="t2_24"></label>
      <label for="t2_25"></label>
      <label for="t2_26"></label>
      <label for="t2_27"></label>
      <label for="t2_28"></label>
      <label for="t2_30"></label>
      <label for="t2_32"></label>
      <label for="t2_33"></label>
      <label for="t2_34"></label>
      <label for="t2_36"></label>
      <label for="t2_38"></label>
      <label for="t2_39"></label>
      <label for="t2_40"></label>
      <label for="t2_42"></label>
      <label for="t2_45"></label>
      <label for="t2_48"></label>
      <label for="t2_50"></label>
      <label for="t2_51"></label>
      <label for="t2_54"></label>
      <label for="t2_57"></label>
      <label for="t2_60"></label>
    </div>
  </div>
  
  <div class="info"></div>
  
  <label for="reset">Restart</label>
</form>

<div id = "table_score_1" class = "table_score">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <!-- <th scope="col"></th> -->
          <th scope="col">Player 1</th>
          <th scope="col">Player 2</th>
          <th scope="col">Player 3</th>
          <th scope="col">Player 4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row">1</th> -->
          <td id="player_1_score" class = "animated">0</td>
          <td id="player_2_score" class = "animated">0</td>
          <td id="player_3_score" class = "animated">0</td>
          <td id="player_4_score" class = "animated">0</td>
        </tr>
      </tbody>
    </table>
</div>

<div id="last_value">
    23
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/dardos_address/');

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        for_form_addresses_tsm(data);
        
    };
    function for_form_addresses_tsm(data){
    	console.log(data);
        data_json = JSON.parse(data.data.trace_json)
        $("#last_value").text(data_json["new_value"]);
        var total_points = parseInt($("#player_"+data_json["player"]+"_score").text()) + parseInt(data_json["new_value"])
        $("#player_"+data_json["player"]+"_score").text(total_points);
    }

 
</script>
{% endblock %}