{% extends "base.html" %}
{% load custom_filters %}

{% block container %}

  <body style="font-size: 3em;background:black; color: white;">
    <table style="position:absolute; width: 80%; margin: 2% 10% 0% 10%; height: 20%; border-width: 15px;"
      border="1">
      <tbody>
        <tr>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            1</td>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            2</td>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            3</td>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            4</td>
        </tr>
        <tr>
          <td style="text-align: center;" id = "total_score_player_1">0</td>
          <td style="text-align: center;" id = "total_score_player_2">0</td>
          <td style="text-align: center;" id = "total_score_player_3">0</td>
          <td style="text-align: center;" id = "total_score_player_4">0</td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <table style="position:absolute; top: 30%; width: 80%; margin: 0% 10%; height: 60%; border-width: 15px;"
      border="1">
      <tbody>
        <tr>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">20</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">19</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">18</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">17</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">16</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">15</td>
          <td style="text-align: center; background-color: rgba(255, 28, 5, 0.75);">14</td>
        </tr>
        <tr>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            1</td>
          <td style="width: 74.2667px; text-align: center;"><span id = "player_1_20"></span><br>
          </td>
          <td style="width: 77.6667px; text-align: center;"><span id = "player_1_19"></span><br>
          </td>
          <td style="width: 72.95px; text-align: center;"><span id = "player_1_18"></span><br>
          </td>
          <td style="width: 77.3px; text-align: center;"><span id = "player_1_17"></span><br>
          </td>
          <td style="width: 70.833px; text-align: center;"><span id = "player_1_16"></span><br>
          </td>
          <td style="width: 69.2167px; text-align: center;"><span id = "player_1_15"></span><br>
          </td>
          <td style="width: 60.6833px; text-align: center;"><span id = "player_1_14"></span><br>
          </td>
        </tr>
        <tr>
          <td style="width: 106.083px; text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            2</td>
          <td style="text-align: center;"><span id = "player_2_20"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_19"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_18"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_17"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_16"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_15"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_2_14"></span><br>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            3</td>
          <td style="text-align: center;"><span id = "player_3_20"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_19"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_18"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_17"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_16"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_15"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_3_14"></span><br>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; background-color: rgba(204, 102, 204, 0.7);">Player
            4</td>
          <td style="text-align: center;"><span id = "player_4_20"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_19"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_18"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_17"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_16"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_15"></span><br>
          </td>
          <td style="text-align: center;"><span id = "player_4_14"></span><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <div id="popup_new_value" style="background: white;height: 45%;width: 35%;border-radius: 5px;border-style: solid;border-width: 5px;position: absolute;left: 32%;top: 15%; color:black; display:none;">
      <div style="text-align: center;"><b><span id="title_popup_new_value">New
          Score</span></b></div>
      <div style="text-align: center;margin-top:2em;font-weight: bold;"><span id="content_popup_new_value"
          style="font-size: 2.5em;font-weight: bold;">47</span></div>
    </div>

    <div id="popup_winner" style="background: white;height: 45%;width: 35%;border-radius: 5px;border-style: solid;border-width: 5px;position: absolute;left: 32%;top: 15%; color:black; display:none;">
      <div style="text-align: center;"><b><span id="title_popup_winner">The Winner is </span></b></div>
      <div style="text-align: center;margin-top:2em;font-weight: bold;"><span id="content_popup_winner"
          style="font-size: 2.5em;font-weight: bold;">Player 1</span></div>
    </div>

    <canvas id='canvas'></canvas>
    
  </body>
{% endblock %}


{% block js %}
<script type="text/javascript">

    var there_is_a_winner = false;

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/dardos_address/');

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        for_form_addresses_tsm(data);
        
    };

    chatSocket.onconnect = function(e) {

        console.log("CONECTADO")
        
    };

    function clean_scores(){
      for (let number =14; number < 20; number++){
            for (let player = 1; player < 5; player++){
              $("#player_" + player + "_" +number).html("");
              $("#total_score_player_" + player).html("0");
            }
        }
    }

    function for_form_addresses_tsm(data){
      trace_json = JSON.parse(data.data.trace_json)
      //console.log(trace_json)
      //console.log(data)
      if ((trace_json["winner"] != "0") && (trace_json["winner"] < 5)){
        $("#popup_new_value").fadeOut();
        $("#content_popup_winner").html("Player " + trace_json["winner"])
        $("#popup_winner").fadeIn();
        there_is_a_winner = true;
        setTimeout(function(){
          $("#popup_winner").fadeOut();
          there_is_a_winner = false;
        }, 10000);
        clean_scores();
        
      }else{

        $("#popup_winner").fadeOut();
        there_is_a_winner = false;
        $("#popup_new_value").fadeIn();
        $("#content_popup_new_value").html(trace_json["new_value"]);
        var old_total_score = parseInt($("#total_score_player_" + trace_json["player"]).html())
        $("#total_score_player_" + trace_json["player"]).html(old_total_score + parseInt(trace_json["new_value"]));
        setTimeout(function(){
          $("#popup_new_value").fadeOut();
        }, 1000)
        if ([20,19,18,17,16,15,14].includes(trace_json["original_value"])){
          console.log("new_marg")
          var old_marks = $("#player_" + trace_json["player"] + "_" +trace_json["original_value"]).html();
          $("#player_" + trace_json["player"] + "_" +trace_json["original_value"]).html(old_marks + " *")
        }
      }
    }



      function falling_particles_party_winner(){
        }


      window.requestAnimFrame = (function(){
      return  window.requestAnimationFrame       || 
              window.webkitRequestAnimationFrame || 
              window.mozRequestAnimationFrame    || 
              window.oRequestAnimationFrame      || 
              window.msRequestAnimationFrame     || 
              function( callback ){
                window.setTimeout(callback, 1000 / 60);
              };
        })();

        var canvas = document.getElementById('canvas'),
                    w = window.innerWidth,
                    h = window.innerHeight;
                    canvas.width = w;
                    canvas.height = h;
                      //c = canvas.getContext('2d'),
                      particles = [];
                      tick = 0;
        var x = 0;
        function loop() {

              createParticles();
              updateParticles();
              killParticles();
              drawParticles();
            
            requestAnimFrame(loop);

        }
        requestAnimFrame(loop);

        function createParticles() {
                    var randVal1 = Math.floor(Math.random()*255),
                      randVal2 = Math.floor(Math.random()*255),
                      randVal3 = Math.floor(Math.random()*255);
                  
                  //every 10th tick
                  if( tick % 10 == 0 ) {
                  //add particle if < 100
                      if (( particles.length < 100 ) && (there_is_a_winner == true) ){
                          particles.push({
                          x: Math.random()*canvas.width, //0 and width
                          y: 0,
                          speed: 2+Math.random()*3,//2-5
                          radius: 5+Math.random()*5,//5-10
                          color: 'rgb(' + randVal1 + ',' + randVal2 + ',' + randVal3 + ')'/*'white'*/,
                          });
                      }else{
                        particles = []
                      }
                  }
              }
        
        function updateParticles() {
            for ( var i in particles ) {
                var part = particles[i];
                part.y += part.speed;
            }
        }

        function killParticles() {
            for ( var i in particles ) {
                
                var part = particles[i];
                
                if ( part.y > canvas.height ) {
                    //console.log('x');
                    part.y = 0;
                }
            }
       }

       function drawParticles() {

            var c = canvas.getContext('2d');
            c.fillStyle = 'black';
            c.fillRect (0, 0, canvas.width, canvas.height);
            for ( var i in particles ) {
                var part = particles[i];
                c.beginPath();
                c.arc(part.x, part.y, part.radius, 0, Math.PI*2);
                c.closePath();
                c.fillStyle = part.color;
                c.fill();
            }
     }


       

 
</script>
{% endblock %}