{% extends "admin/base.html" %}



{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<script src = "/static/js/jquery.js"></script>
<!-- <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script> -->
		


<script type="text/javascript">
	console.log("-----")

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/tsm_address/');

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        console.log(data);
        
        
    };
 
</script>
{% endblock %}

{% block nav-global %}{% endblock %}
